body {
    background-color: #999999;
color: black;
a:link {color:#ffffff;}      
a:visited {color:#ffffff;}  
a:hover {color:#ffffff;}  
a:active {color:#ffffff;}  

}
table {
    width: 670px;
margin: 0 auto 0 auto;
}
 th {
    text-align: center;
}
#Cai {
   margin: 0 auto 0 auto;

}
#helyettes {}